requests
pydantic
jsonschema
python-socketio[client]
rich
pyyaml
fastapi
uvicorn[standard]
Pillow
transformers
piper-tts
onnxruntime-gpu
qwen-tts
torch
soundfile
chromadb
sentence-transformers
pocket-tts
emoji
faster-whisper
